<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/signin-signup.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Sign Up</title>
  </head>
  <body style="background-color: #e6e9e9">
    <%- include('_header')%>
    <div class="container">
      <div class="header-wrapper">
        <p>Sign Up</p>
        <p>Create your account</p>
      </div>

      <form action="/users/create" method="post" class="form-wrapper">
        <div class="input-wrapper">
          <input
            type="text"
            class="l"
            id="name"
            name="name"
            placeholder="Full Name"
            required
          />
        </div>

        <div class="input-wrapper">
          <input
            type="email"
            class=""
            id="email"
            placeholder="abc@gmail.com"
            name="email"
            required
          />
        </div>

        <div class="input-wrapper">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>

        <div class="input-wrapper">
          <input
            type="password"
            id="confirmPassword"
            placeholder="Confirm Password"
            name="confirmPassword"
            required
          />
        </div>
        <div class="">
          <button type="submit" class="btn">Sign Up</button>
        </div>
      </form>
      <div class="">
        <p>Already User? <a href="/users/signin">Sign In</a></p>
      </div>
    </div>
  </body>
</html>
