body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 25px;
    border-radius: 15px;
    gap: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-wrapper p {
    /* line-height: 0; */
    padding: 0;
    margin: 0;
    gap: 10px;
}

.header-wrapper :nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.header-wrapper :nth-child(2) {
    color: rgb(63, 63, 63);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper input, .btn {
    padding: 15px 10px;
    /* border-radius: 7px; */
    outline: none;
    font-size: 17px;
}

.input-wrapper input {
    border: none;
    border-bottom: 1px solid gray;
}

.btn {
    width: 100%;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: none;
}

a {
    text-decoration: none;
}


